services:
  php:
    build:
      context: .
    volumes:
      - ./:/app:delegated
    ports:
      - '8000:80'
    depends_on:
      - db
      - redis
    environment:
      - YII_ENV=${YII_ENV}
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - PHP_USER_ID=${PHP_USER_ID}
      - COOKIE_VALIDATION_KEY=${COOKIE_VALIDATION_KEY}
      - SMS_PILOT_API_KEY=${SMS_PILOT_API_KEY}

  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - '3306:3306'
    volumes:
      - ./.docker/mysql/data:/var/lib/mysql

  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
  
  queue:
    build:
      context: .
    volumes:
      - ./:/app:delegated
    depends_on:
      - db
      - redis
    environment:
      - YII_ENV=${YII_ENV}
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - PHP_USER_ID=${PHP_USER_ID}
      - SMS_PILOT_API_KEY=${SMS_PILOT_API_KEY}
    command: php yii queue/listen --verbose 1
