version: '2'
services:
  php:
    build:
      context: .
      args:
        - USER_ID=${USER_ID:-100}
        - GROUP_ID=${GROUP_ID:-1000}
    volumes:
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      - ./:/app:delegated
    ports:
      - '8000:80'
    depends_on:
      - db
      - redis
    environment:
      - YII_ENV=dev
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}

  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - '3306:3306'
    volumes:
      - ./.docker/mysql/data:/var/lib/mysql

  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
