includes:
    - vendor/yii2-extensions/phpstan/extension.neon

parameters:
    level: 5
    bootstrapFiles:
        - vendor/yiisoft/yii2/Yii.php
    paths:
        - controllers/
        - models/
        - components/
        - widgets/
        - factories/
        - jobs/
        - repositories/
        - interfaces/
        - exceptions/
        - services/
    excludePaths:
        - tests/*
        - runtime/*
        - vendor/*
        - views/*
        - web/*
        - assets/*
    reportMagicMethods: true
    reportMagicProperties: true
    treatPhpDocTypesAsCertain: false
