parameters:
    level: 5
    paths:
        - controllers/
        - models/
        - components/
        - widgets/
        - factories/
        - jobs/
        - repositories/
        - interfaces/
        - exceptions/
        - commands/
    excludePaths:
        - tests/*
        - runtime/*
        - vendor/*
        - views/*
        - web/*
        - assets/*
    checkMissingIterableValueType: false
    reportMagicMethods: true
    reportMagicProperties: true
    reportPossiblyUnusedCode: false